<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github2136.wardrobe">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="util_project_path"
            android:value="wardrobe"/>
        <meta-data
            android:name="util_sp_name"
            android:value="wardrobe"/>
        <meta-data
            android:name="select_photo_path"
            android:value="wardrobe/photo"/>
        <meta-data
            android:name="com.github2136.wardrobe.util.glide.ProjectGlideModule"
            android:value="GlideModule"/>

        <!-- 登录 -->
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- 添加服装 -->
        <activity
            android:name=".ui.activity.AddClothingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.EditClothingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity android:name=".ui.activity.user.RegisteredActivity">
        </activity>
    </application>

</manifest>